<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>CodeServlet</servlet-name>
        <servlet-class>CodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CodeServlet</servlet-name>
        <url-pattern>/codeServlet</url-pattern>
    </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.ShowUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessLoginServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.SessLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessAdminServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.SessAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookinfServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.BookinfServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.ShoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReckoningServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.ReckoningServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.DelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.UpdateTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.AddTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminShowUserServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.AdminShowUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KuXiaoServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.KuXiaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PwdNameUserServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.PwdNameUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoanBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.LoanBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContinueBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.ContinueBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BeforehandBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.BeforehandBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LeaveWordServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.LeaveWordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HuanBookServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.HuanBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderList1Servlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.OrderList1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderList2Servlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.OrderList2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NutritionAddServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.NutritionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpAddServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.EmpAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpReworkServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.EmpReworkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpSearchServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.EmpSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpEstateServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.EmpEstateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetbackPwdServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.qiantai.GetbackPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StockAddServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.StockAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StatisticServlet</servlet-name>
    <servlet-class>com.itbaizhan.servlet.admin.StatisticServlet</servlet-class>
  </servlet>







































  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/servlet/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/servlet/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/servlet/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessLoginServlet</servlet-name>
    <url-pattern>/servlet/SessLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessAdminServlet</servlet-name>
    <url-pattern>/servlet/SessAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/servlet/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookinfServlet</servlet-name>
    <url-pattern>/servlet/BookinfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/servlet/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReckoningServlet</servlet-name>
    <url-pattern>/servlet/ReckoningServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/servlet/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/servlet/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/servlet/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/servlet/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <url-pattern>/servlet/UpdateTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/servlet/AddTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminShowUserServlet</servlet-name>
    <url-pattern>/servlet/AdminShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KuXiaoServlet</servlet-name>
    <url-pattern>/servlet/KuXiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PwdNameUserServlet</servlet-name>
    <url-pattern>/servlet/PwdNameUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/servlet/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoanBookServlet</servlet-name>
    <url-pattern>/servlet/LoanBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContinueBookServlet</servlet-name>
    <url-pattern>/servlet/ContinueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BeforehandBookServlet</servlet-name>
    <url-pattern>/servlet/BeforehandBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaveWordServlet</servlet-name>
    <url-pattern>/servlet/LeaveWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HuanBookServlet</servlet-name>
    <url-pattern>/servlet/HuanBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderList1Servlet</servlet-name>
    <url-pattern>/servlet/OrderList1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderList2Servlet</servlet-name>
    <url-pattern>/servlet/OrderList2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NutritionAddServlet</servlet-name>
    <url-pattern>/servlet/NutritionAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpAddServlet</servlet-name>
    <url-pattern>/servlet/EmpAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpReworkServlet</servlet-name>
    <url-pattern>/servlet/EmpReworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpSearchServlet</servlet-name>
    <url-pattern>/servlet/EmpSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpEstateServlet</servlet-name>
    <url-pattern>/servlet/EmpEstateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetbackPwdServlet</servlet-name>
    <url-pattern>/servlet/GetbackPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StockAddServlet</servlet-name>
    <url-pattern>/servlet/StockAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticServlet</servlet-name>
    <url-pattern>/servlet/StatisticServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
