UNKNOWN {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
DIV {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
SELECT {
	VERTICAL-ALIGN: middle
}
INPUT {
	VERTICAL-ALIGN: middle
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A {
	blr:expression(this.onFocus=this.blur())
}
A:hover {
	COLOR: #f00
}
.img01 {
	BORDER-RIGHT: #fcf4bd 1px solid; BORDER-TOP: #fcf4bd 1px solid; BORDER-LEFT: #fcf4bd 1px solid; BORDER-BOTTOM: #fcf4bd 1px solid
}
.title TD {
	FONT-SIZE: 14px; FILTER: DropShadow(Color=#FCF4BD, OffX=1, OffY=1, Positive=1); COLOR: #861700; PADDING-TOP: 8px
}
.title TD A {
	COLOR: #861700; TEXT-DECORATION: underline
}
.title TD A:visited {
	COLOR: #861700; TEXT-DECORATION: none
}
.title TD A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.title1 TD {
	FONT-SIZE: 12px; FILTER: DropShadow(Color=#FCF4BD, OffX=1, OffY=1, Positive=1); COLOR: #861700; PADDING-TOP: 8px
}
.title1 TD A {
	COLOR: #861700; TEXT-DECORATION: underline
}
.title1 TD A:visited {
	COLOR: #861700; TEXT-DECORATION: underline
}
.title1 TD A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
TD.tddebug {
	FONT-SIZE: 12px; COLOR: #000000
}
a:link.linkbody {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.linkbody {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.linkbody {
	COLOR: #fd5f04; TEXT-DECORATION: underline
}
a:link.linklm {
	COLOR: #000000; TEXT-DECORATION: none
}
a:visited.linklm {
	COLOR: #000000; TEXT-DECORATION: none
}
a:hover.linklm {
	COLOR: #f00; TEXT-DECORATION: none
}
a:link.linkshow {
	COLOR: #000fff; TEXT-DECORATION: underline
}
a:visited.linkshow {
	COLOR: #000fff; TEXT-DECORATION: underline
}
a:hover.linkshow {
	COLOR: #f00; TEXT-DECORATION: underline
}
a:link.linktop {
	COLOR: #000000; TEXT-DECORATION: none;FONT-WEIGHT: bold; FONT-SIZE: 14px;
}
a:visited.linktop {
	COLOR: #ffffff; TEXT-DECORATION: none;FONT-WEIGHT: bold; FONT-SIZE: 14px;
}
a:hover.linktop {
	COLOR: #FF3300;
	TEXT-DECORATION: underline;FONT-WEIGHT: bold; FONT-SIZE: 14px;
}
.textline {
	LINE-HEIGHT: 19px
}
.bigline {
	LINE-HEIGHT: 25px
}
.normal {
	COLOR: #414f58; HEIGHT: 36px
}
.redtext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FILTER: glow(color=#8C96B5,strength=2)
	shadow(color=#B4BBCF,direction=135); COLOR: #fa4905; HEIGHT: 36px
}
.hightext {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FILTER: glow(color=#B4BBCF,strength=5); COLOR: #fa4905; HEIGHT: 30px
}
.texthighlight {
	LINE-HEIGHT: 30px
}
.bigtext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa4905; LINE-HEIGHT: 30px
}
.input7 {
	BACKGROUND: url(img/inputend.gif) repeat-x left center; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 200px; COLOR: #ff0000; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px
}
.input6 {
	BACKGROUND: url(img/inputend.gif) repeat-x left center; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 120px; COLOR: #ff0000; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px
}
.input5 {
	BACKGROUND: url(img/inputend.gif) repeat-x left center; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50px; COLOR: #ff0000; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px
}